.flexTitle{
    text-align: center;
    margin-top: 32px;
}

.flexRoot {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

.flexContainer {
    max-width: 1600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.itemInfo {
    display: flex;
    justify-content: space-between;
}

.itemInfo svg {
    width: 2em;
    height: 2em;
}
