.navbar {
    background-color: #252B48;
    width: 100%;
}

.navbarContainer {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbarContainer>.icon {
    color: white;
    font-size: 2.5rem;
    padding: 0.4rem 1.8rem;
}

.navbarContainer>.icon>.iconInDiv:hover {
    cursor: pointer;
}

.navbarContainer>.hand-bag {
    position: absolute;
    top: 1.3rem;
    right: 2.6rem;
    color: white;
    font-size: 2rem;
}

.navbarContainer>.hand-bag:hover {
    cursor: pointer;
    color: #9d174d;
}

.navbarContainer>.numberOfProducts {
    position: absolute;
    top: 3.2rem;
    right: 1.6rem;
    color: white;
    font-size: 1.2rem;
}
